body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;    
    background-color: #ac8484; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.card {
    position: relative;
    width: 700px; 
    height: 450px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.card-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease, filter 0.8s ease;
}


.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(166, 155, 231, 0.1);
    transition: background-color 0.5s ease;
    z-index: 2;
}


.title {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 0;
    transition: transform 0.5s ease, color 0.5s ease;
}

.title span {
    font-weight: 800;
}

.description {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 2px;
    line-height: 1.6;
    margin-top: 20px;
    text-transform: uppercase;
  
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.card:hover .card-overlay {
    background-color: rgba(175, 180, 240, 0.5); /
}

.card:hover .card-bg {
    transform: scale(1.1);
    filter: blur(4px) brightness(0.7); 
}

.card:hover .title {
    transform: translateY(-15px); 
    color: #00e5ff;
}


.card:hover .description {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}